@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*,*:before, *:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    font-family: 'Quicksand','Poppins', Georgia,'Times New Roman', serif;
    background: #fffafa;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
    align-items: center
}
h1 {
    display:flex;
    justify-content: flex-start;
    margin: 3rem 0 3rem 0;
    font-size: 3rem;
    font-weight: bold;
}
h2{
    margin-bottom: 1.5rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    background-color: #E5E5E5;
    border-radius: 0.25rem;
    margin-bottom: 3rem;
    height: 20rem;
    width: 40rem;
    padding: 1rem;
    box-shadow: 0 5px 8px rgb(0 0 0 / 30%);
}
label{
        font-weight: 600;
}
textarea {
    font-weight: 500;
    font-size: 16px;
    margin: 0.5rem 0 0.5rem 0;
    width: 36rem;
    height: 12rem;
    resize: none;
}
form button {
    font-size: 0.9rem;
    cursor: pointer;
    height: 2rem;
    width: 6rem;
}

.responses-container {
    width: 40rem;
}
.response {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #E5E5E5;
    border-radius: 0.25rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.response-items {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.response-items-title{
    min-width: 6rem;
    font-weight: 700;
}